@media (max-width: 480px) {

    .fill-screen {
        height: 100%
    }

    .card-container {
        flex-direction: column;
        width: 100%;
        height: auto;

        .card-5 {
            margin-right: 0px !important;
            margin-left: 0px !important;
            margin-bottom: .5rem !important;
            width: 100%
        }
    }



    .card-container-bottom {
        flex-direction: column;

        .dashboard-container {
            width: 100% !important;
        }

        .map-container {
            margin-right: 0px !important;
            margin-left: 0px !important;
            margin-top: .5rem !important;
            margin-bottom: .5rem !important;
            width: auto
        }
    }

}